@import "../../styles/_variables";

.container {
  display: grid;
  flex-wrap: wrap;
  gap: 20px;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: center;
}

.circle {
  border-radius: 50%;
  min-width: 150px;
  min-height: 150px;
}

.square {
  min-width: 150px;
  min-height: 150px;
}

.red {
  background-color: $color-light-red;
}

.blue {
  background-color: $color-light-blue;
}

.green {
  background-color: $color-light-green;
}

.yellow {
  background-color: $color-light-yellow;
}

.dark-red {
    background-color: $color-dark-red;
}

.dark-blue {
    background-color: $color-dark-blue;
}

.dark-green {
    background-color: $color-dark-green;
}

.dark-yellow {
    background-color: $color-dark-yellow;
}
