@import "../../styles/_variables";

.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px;
  gap: 30px;
}

.square {
  width: 40px;
  height: 40px;
  gap: 30px;
  margin: 20px;
}

.red {
  background-color: $color-light-red;
}

.blue {
  background-color: $color-light-blue;
}

.green {
  background-color: $color-light-green;
}

.yellow {
  background-color: $color-light-yellow;
}
