@import "../../styles/_variables";

.circle {
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
}

.square {
  min-width: 50px;
  min-height: 50px;
}

.container {
  display: grid;
  flex-wrap: wrap;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  & .figure {
    width: 253px;
    height: 253px;
  }
}

.red {
  background-color: $color-light-red;
}

.blue {
  background-color: $color-light-blue;
}

.green {
  background-color: $color-light-green;
}

.yellow {
  background-color: $color-light-yellow;
}

.dark-red {
  background-color: $color-dark-red;
}

.dark-blue {
  background-color: $color-dark-blue;
}

.dark-green {
  background-color: $color-dark-green;
}

.dark-yellow {
  background-color: $color-dark-yellow;
}
