@import "../../../styles/variables";

.container {
  position: relative;
}
.menu {
  background-color: $color-gray;
  position: absolute;
  width: 200px;
  height: 400px;
}
.section {
  padding: 15px;
}
